name: CI-CD Pipeline
on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Select Environment"
        required: true
        type: choice
        options:
          - dev
          - prod
jobs:
  terraform-deploy:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: environments/${{ github.event.inputs.environment }}

    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: ${{ secrets.AWS_REGION }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }} 
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Terraform Init
        run: terraform init    

      - name: terrform format check
        run: terraform fmt  

      - name: terrafrom validate
        run: terrafrom validate

      - name: Terraform Plan
        run: terraform plan -var-file="terraform.tfvars"

      - name: Terraform Apply
        run: terraform apply -auto-approve -var-file="terraform.tfvars"
      
       # ✅ SUCCESS MESSAGE
      - name: Deployment Successful
        if: success()
        run: echo "✅ Terraform deployment to ${{ github.event.inputs.environment }} completed successfully."

      # ❌ FAILURE MESSAGE
      - name: Deployment Failed
        if: failure()
        run: echo "❌ Terraform deployment to ${{ github.event.inputs.environment }} failed. Please check logs."